.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-template-areas: "a a b" "c d d";
}

#grid-item-1 {
  grid-area: a;
}

#grid-item-2 {
  grid-area: b;
}

#grid-item-3 {
  grid-area: c;
}

#grid-item-4 {
  grid-area: d;
}
